// variables
$grey: #919191;

$Grass: #3b9b26;
$Poison: #8f3fc8;
$Fire: #e42829;
$Water: #287fed;
$Flying: #7fb7ed;
$Normal: #9ea09e;
$Electric: #f6bd00;
$Ground: #8f5020;
$Bug: #90a019;
$Fairy: #ed6eed;
$Fighting: #f97d00;
$Psychic: #ec3f77;
$Steel: #5fa0b7;
$Ice: #3dd6fd;
$Ghost: #6d3e6d;
$Dragon: #4e5edf;
$Dark: #4e403e;
$Rock: #ada77f;